.banner {
  padding-top: 150px;
  background: $blackopak-bg;
}

.banner h1 {
  padding-top: 40px;
  transform: scale(1.4);
  color: $orange;
  padding-bottom: 40px;

}

.banner h2 {
  color: rgba($orange,0.9);
  padding-bottom: 50px;
}

.banner p {
  padding-bottom: 90px;
  color: rgba(255,255,255,0.8);
}

.banner img {
  border: 8px $text-bg solid;
  margin: 10px 0px;
}

.intro-text-part {
  max-width: 33%;
  background: $text-bg;
  padding: 18px;
  text-align: justify;
  text-indent: 2rem;
  font-size: 1.6rem;
  margin: 0px 5px;
}

@media only screen and (max-width: 920px) {
 .banner {
  color: white;
  padding-top: 70px;
  }

  .banner h1 {
    padding-bottom: 20px;
    font-size: 30px;
  }

  .banner h3 {
    padding-bottom: 20px;
    font-size: 20px;
  }

  .banner p {
    padding-bottom: 40px;
    color: white;
  }

  .intro-text-part {
    min-width: 80%;
    background: $text-bg;
  }
}
