/* Main class */
.navbar-hoo {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.7);
  background: #000;
  color: #f28e37;
  height: 90px;
  z-index: 10;
  transition: all 0.3s ease;
}

.navbar-hoo span {
  margin-left: 30px;
  font-size: 3.5rem;
  line-height: 35px;
  color: #f28e37;
  transition: all ease-in-out 600ms;
}

.navbar-hoo a:hover {
  text-decoration: none
}

/* Navbar right section (with form, links, button) */
.navbar-hoo-right {
  border-radius: 2px;
  background: transparent;
  padding: 0px 10px;
  line-height: 28px;
  margin: 0 auto;
}

.navbar-hoo-right a {
  white-space: nowrap;
}

/* Navbar item */
.navbar-hoo-item {
  cursor: pointer;
  padding: 0 16px;
}

/* Navbar standard link */
.navbar-hoo-link {
  color: #f28e37;
  font-size: 2.2rem;
  background-color: #111;
  border-radius: 2px;
}

.navbar-hoo-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #333;
  transition: all ease ease-in-out 300ms;
}

/* Navbar right button */
.langage {
  padding: 0px 4px;
}

/* Navbar dropdown menu */
.navbar-hoo-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  background-color: #222;
}
.navbar-hoo-dropdown-menu li > a {
  font-weight: lighter !important;
  color: #fff !important;
  font-size: 20px !important;
  line-height: 22px !important;
  padding: 20px 20px;
  transition: all 0.3s ease;
  text-align: center;
}
.navbar-hoo-dropdown-menu li > a:hover {
  background: #eee !important;
  color: black !important;
}
.navbar-hoo-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

@media only screen and (max-width: 920px) {
  .navbar-hoo span {
    font-size: 2rem;
    line-height: 35px;
    color: $orange;
    transition: all ease-in-out 600ms;
  }
}
