.title {
  // border: 1px purple solid;
  text-align: center;
  background: $nav-bg;
  color: $orange;
}

.footer {
  // border: 1px blue solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 10vh;
  background: $nav-bg;
  padding-top: 20px;
}

.coord {
  // border: 1px red solid;
  font-family: $header-font;
  margin: 0px 20px;
  text-align: center;
}

.coord h3 {
  margin-bottom: 20px;
  padding: 0px 10px;
  color: $orange;
  font-family: $base-font;
}

.coord p {
  font-size: 2rem;
  color: $orange;
}

.footer-menu {
  // border: 1px green solid;
  max-width: 50%;
  color: $orange;
  padding-bottom: 20px;
}

.footer-menu ul li {
  min-width: 160px;
  color: $orange;
  margin: 4px 4px;
  padding: 0px 20px;
  font-size: 1.6rem;
}

.footer-menu li:hover {
  background: $orange;
  color: white;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

