/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.flexbox {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: center;
  flex-wrap: wrap;
  background: $blackopak-bg;
}

.nav-top-offset {
  padding-top: 100px;
}

body, html {
  margin: 0;
  padding: 0;
}

section {
  background-attachment: fixed;
}

.bg {
  background: url("../images/main-bg2.jpg");
  background-color: rgba(255,255,255,0.5);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  background-origin: center center;
}
