.mecenat {
  margin: 4px 4px;
  padding: 8px 8px;
  color: white;
  background: rgba(0,0,0,0.5);
  font-family: $header-font;
  text-align: justify;
  font-size: 1em;
}



@media only screen and (max-width: 640px) {
  .mecenat {
  font-size: 1.2rem;
  }
  .mecenat h3 {
  font-size: 20px;
  }
}
