.indexbody {
  width: 100%;
  overflow: hidden;
}

.welcome {
  background: url("../images/main-bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  color: white;
  min-height: 100vh;
  text-align: center;
}

#index-cible {
  background: $blackopak-bg;
  padding-bottom: 30px;
}

.mecenat {
  max-width: 95%;
  margin: 5px auto;
  padding: 0px 5px;
  color: white;
  font-family: $header-font;
  text-align: justify;
  font-size: 1.6rem;
  text-indent: 2rem;
}

.mecenat h3 {
  padding: 4px;
  margin: 0;
}

.banner {
  color: white;
  padding-top: 70px;
}

.banner h1 {
  padding-bottom: 20px;
  font-size: 30px;
}

.banner h2 {
  padding-bottom: 20px;
  font-size: 20px;
}

.banner p {
  transform: scaleY(1);
  padding-bottom: 40px;
  color: white;
}

.intro-text-part {
  background: $nav-bg;
}

@media only screen and (max-width: 920px) {
  .mecenat p {
  font-size: 1.3rem;
  }
  .mecenat h3 {
  font-size: 26px;
  }
  .banner h1 {
    padding-bottom: 20px;
    font-size: 20px;
  }

  .banner h2 {
    padding-bottom: 20px;
    font-size: 16px;
  }

  .intro-text-part {
  background: $nav-bg;
  margin: 16px 0px;
  }
}







