.cdrfbox-contact {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 90%;
  min-height: 400px;
  padding: 4px;
  border-radius: 4px;
  background: url(../images/main-bg2.jpg);
  background-size: cover;
  background-position: 20% 80%;
}

.action {
  position: relative;
  text-align: center;
  color: orange;
  padding: 2px 0px;
  width: 70%;
  margin: 4px auto;
  border-radius: 4px;
  background: rgba(#222, 0.8);
  font-size: 12px;
}

.stylised {
  margin: 10px auto;
  border-radius: 4px;
  height: auto;
  width: 80%;
  padding: 20px;
}

.form-group {
  text-decoration: none;
  list-style: none;
}

.form-group label,
.form-group input {
  font-size: 16px;
  font-weight: 300;
  color: black;
}

@media only screen and (max-width: 640px) {

}
