.welcome {
  width: 100%;
  background: url("../images/main-bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 920px) {

  .banner h1 {
    padding-bottom: 20px;
    font-size: 20px;
  }

  .intro-text-part {
  margin: 16px 0px;
  }
}







