.intro-text-part {
  color: white;
  padding: 18px;
  text-align: justify;
  text-indent: 2rem;
  font-size: 1.8rem;
  margin: 0 auto;
  font-family: roboto;
}

.parcours {
  padding-bottom: 18px;
  font-family: roboto;
}

.title h2 {
  color: #f28e37;
  font-size: 2.4rem;
  text-decoration: underline;
}

.parcours li {
  color: white;
  font-size: 1.6rem;
}

.title {
  padding-bottom: 20px;
}


@media only screen and (max-width: 780px) {
  .intro-text-part {
  font-size: 1.3rem;
  }

   .title h2 {
    font-size: 2rem;
  }

  .parcours li {
    font-size: 1.3rem;
  }

  .title {
  font-size: 1.3rem;
}
}
