.intro-text-part {
  background: rgba(151,51,55,0.8);
  color: white;
  padding: 18px;
  text-align: justify;
  text-indent: 2rem;
  font-size: 1.6rem;
  margin: 0 auto;
}

.parcours {
  padding-bottom: 18px;
}

.parcours h3 {
  color: orange;
  font-size: 2.2rem;
  text-decoration: underline;
}

.parcours li {
  color: white;
  font-size: 1.6rem;
}


@media only screen and (max-width: 780px) {
  .intro-text-part {
  font-size: 1.3rem;
  }

   .parcours h3 {
    font-size: 1.6rem;
  }

  .parcours li {
    font-size: 1.3rem;
  }
}
