.parcours {
  padding-bottom: 18px;
}

.parcours h2 {
  color: $orange;
}

.parcours h3 {
  color: $orange;
  text-decoration: underline;
}

.parcours li {
  color: white;
}


@media only screen and (max-width: 780px) {
  .parcours h2 {
  font-size: 2rem;
  text-align: center;
  }

  .parcours h3 {
    font-size: 1.6rem;
  }
  .parcours li {
    font-size: 1.3rem;
  }
}
