.container-thumbs-p {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
  width: 80%;
  margin: 0 auto;
  min-height: 50vh;
}

@media only screen and (max-width: 460px) {
  .container-thumbs-p  {
    width: 90%;
  }
}
