<div class="banner">
  <h1>Bienvenue dans l'atelier de Robert Hoo-Paris, artiste peintre.</h1>

   <div class="flexbox">
      <img src="../images/img_index.jpg" alt="index" height="350px">
    </div><!-- fin flexbox -->
</div><!-- fin banner -->
