<div class="banner">
  <h1>Bienvenue dans l'atelier de Robert Hoo, artiste peintre.</h1>
  <h2>Membre des "Indépendants, plasticiens de Bordeaux".</h2>
  <p>"L’interrogation spirituelle de Robert Hoo-Paris sur l’Homme l’amène à évoquer dans ses peintures les vibrations de la vie moderne", le Journal Sud-Ouest.</p>
  <a href="#index-cible"><button class="btn btn-warning">Continuer</button></a>
</div><!-- fin banner -->
