<div class="footer-cadre">

  <div class="title">
    <h3>Hoo-Paris.com</h3>
    <p>9 de l'Allée du Moulieil à Cestas (33610).</p>
    <p>E-mail : robert.hooparis@gmail.com</p>
    <p>N° Siret : 530 723 683 000 13</p>
    <p><a href="https://independants33.com/les-artistes/robert-hoo-paris/" target="_blank">Membre des "Indépendants, plasticiens de Bordeaux".</a></p>
    <p>L'atelier de Robert Hoo-Paris se visite sur R.V au 05 57 83 50 26</p>
  </div>

<div class="footer">
   <div class="footer-menu">
    <div class="row">

      <div class="col-sm-3 col-xs-12">
        <ul>
          <li><a href="parcours.html">Parcours</a></li>
          <li><a href="atelier.html">L'atelier</a></li>
          <li><a href="galerie.html">Galeries</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <ul>
          <li><a href="grands.html">Grands formats</a></li>
          <li><a href="petits.html">Petits formats</a></li>
          <li><a href="recentes.html">Peintures récentes</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <ul>
          <li><a href="mentions.html">Mentions légales</a></li>
          <li><a href="evenements.html">Evènements</a></li>
          <li><a href="contact.html">Contactez-moi</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>
