
<div class="title">
  <h3>Hoo-Paris.com</h3>
  <p>9 de l'Allée du Moulieil à Cestas (33610).</p>
  <p>E-mail : robert.hooparis@gmail.com</p>
  <p>N° Siret : 530 723 683 000 13</p>
</div>
<div class="footer">
   <div class="footer-menu">
    <div class="row">
      <div class="coord">
        <p>L'atelier de Robert Hoo-Paris se visite sur R.V au 05 57 83 50 26</p>
      </div>
      <div class="col-sm-3 col-xs-12">
        <ul>
          <li>Parcours</li>
          <li>L'atelier</li>
          <li>Galeries</li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <ul>
          <li>Grands formats</li>
          <li>Petits formats</li>
          <li>Peintures récentes</li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <ul>
          <li>Mentions légales</li>
          <li>Evènements</li>
          <li>Contactez-moi</li>
        </ul>
      </div>

    </div>

  </div>
</div>
