<div class="footer">
  <div class="coord">
    <h6>Hoo-Paris.com</h6>
  </div>
  <div class="footer-menu">
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li>Parcours</li>
          <li>L'atelier</li>
          <li>Grands formats</li>
          <li>Petits formats</li>
          <li>Gallerie 1</li>
          <li>Gallerie 2</li>
          <li>Peintures récentes</li>
          <li>Contactez-moi</li>
          <li>Mentions légales</li>
        </ul>
      </div>
    </div>
  </div>
</div>
