<div class="footer-cadre">

<div class="footer">
   <div class="footer-menu">
    <div class="row">

      <div class="col-sm-3 col-xs-12">
        <ul>
          <li><a href="parcours.html">Accueil</a></li>
          <li><a href="atelier.html">Biographie</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <ul>
          <li><a href="galerie.html">Peintures figuratives-abstraites</a></li>
          <li><a href="grands.html">Peintures abstraites</a></li>

        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <ul>
          <li><a href="mentions.html">Mentions légales</a></li>
          <li><a href="evenements.html">Evènements</a></li>
          <li><a href="contact.html">Contactez-moi</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>
