<div class="navbar-hoo  navbar-hoo-fixed">
  <a href="http://localhost:4567" alt="Accueil"><span>Hoo-Paris.com</span></a>

  <!-- Right Navigation -->
  <div class="navbar-hoo-right hidden-xs hidden-sm">
    <!-- Text link -->
    <a href="parcours.html" class="navbar-hoo-item navbar-hoo-link">Parcours</a>
    <a href="atelier.html" class="navbar-hoo-item navbar-hoo-link">L'atelier</a>
    <a href="grands.html" class="navbar-hoo-item navbar-hoo-link">Grands formats</a>
    <a href="petits.html" class="navbar-hoo-item navbar-hoo-link">Petits formats</a>
    <a href="recentes.html" class="navbar-hoo-item navbar-hoo-link">peintures récentes</a>
    <a href="galerie.html" class="navbar-hoo-item navbar-hoo-link">Autres galeries</a>
  </div>
    <a class="langage" href="index.html" target="_self"><%= image_tag "french-flag.jpg", alt: "Version Française", height: 16 %></a>
    <a class="langage" href="index.html" target="_self"><%= image_tag "english-flag.jpg", alt: "Version Française", height: 16 %></a>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-hoo-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-hoo-dropdown-menu">
        <li><a href="parcours.html">Parcours</a></li>
        <li><a href="atelier.html">L'atelier</a></li>
        <li><a href="grands.html">Grands formats</a></li>
        <li><a href="petits.html">Petits formats</a></li>
        <li><a href="recentes.html">peintures récentes</a></li>
        <li><a href="galerie.html">Autres galeries</a></li>
      </ul>
    </div>
  </div>
</div>
