<div class="navbar-hoo  navbar-hoo-fixed">
  <a href="http://localhost:4567"><span>Hoo-Paris.com</span></a>

  <!-- Right Navigation -->
  <div class="navbar-hoo-right hidden-xs hidden-sm">

    <!-- Text link -->
    <a href="parcours.html" class="navbar-hoo-item navbar-hoo-link">Parcours</a>
    <a href="atelier.html" class="navbar-hoo-item navbar-hoo-link">L'atelier</a>
    <a href="Grands.html" class="navbar-hoo-item navbar-hoo-link">Grands formats</a>
    <a href="Petits.html" class="navbar-hoo-item navbar-hoo-link">Petits formats</a>
    <a href="récentes.html" class="navbar-hoo-item navbar-hoo-link">peintures récentes</a>
    <a href="Autres.html" class="navbar-hoo-item navbar-hoo-link">Autres galleries</a>
    <a class="langage" href="index.html" target="_self"><%= image_tag "french-flag.jpg", alt: "Version Française", height: 16 %></a>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-hoo-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-hoo-dropdown-menu">
        <li><a href="#">Parcours</a></li>
        <li><a href="#">L'atelier</a></li>
        <li><a href="#">Grands formats</a></li>
        <li><a href="#">Petits formats</a></li>
        <li><a href="#">peintures récentes</a></li>
        <li><a href="#">Autres galleries</a></li>
      </ul>
    </div>
  </div>
</div>
