<div class="navbar-hoo">
  <a href="https://backseo.github.io/hoo-paris/" alt="Accueil" title="Accueil"><span>Accueil</span></a>

  <!-- Right Navigation -->
  <div class="navbar-hoo-right hidden-xs hidden-sm">
    <!-- Text link -->
    <a href="parcours.html" class="navbar-hoo-item navbar-hoo-link">Biographie</a>
    <a href="PFA.html" class="navbar-hoo-item navbar-hoo-link">Peintures figuratives abstraites</a>
    <a href="PA.html" class="navbar-hoo-item navbar-hoo-link">peintures abstraites</a>
    <a href="contact.html" class="navbar-hoo-item navbar-hoo-link" title="Envoyer un e-mail">Contact</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-hoo-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-hoo-dropdown-menu">
        <li><a href="parcours.html">Biographie</a></li>
        <li><a href="PFA.html">Peintures figuratives abstraites</a></li>
        <li><a href="PA.html">peintures abstraites</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
