<div class="nav-top-offset"></div>

<div class="text-center">
  <img src="../images/atelier0.jpg" alt="l'artiste">
</div>
<br>
<div class="text-center">
  <img class="atelier-img" src="../images/atelier1.jpg" alt="l'atelier">
</div>
