<div class="nav-top-offset"></div>

<div class="text-center">
  <div class="title">
    <h3>Robert Hoo-Paris</h3>
    <p>9 de l'Allée du Moulieil à Cestas (33610).</p>
    <p>E-mail : robert.hooparis@gmail.com</p>
    <p>N° Siret : 530 723 683 000 13</p>
    <p>L'atelier de Robert Hoo-Paris se visite sur R.V au 05 57 83 50 26</p>
  </div>
</div>
<br>
<div class="text-center">
  <img class="atelier-img" src="../images/atelier1.jpg" alt="l'atelier">
</div>
