<div class="nav-top-offset"></div>
<div class="container">

<div class="text-center page-title" style="color: #f28e37;">
    <h5>FORMULAIRE DE CONTACT</h5>
  </div>

  <div class="cdrfbox-contact"  data-aos="fade-down" data-aos-duration="1200">
    <div class="action">
      <h3>Robert HOO-PARIS</h3>
      <h4>33610 CESTAS</h4>
      <h5>Tel: (+33) 7 77 06 23 48</h5>
    </div>
    <div class="stylised">
      <form action="https://formspree.io/robert.hooparis@gmail.com" method="post">
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label>Prénom</label>
              <input class="form-control" type="text"name="prénom" placeholder="Saisissez ici votre prénom">
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Nom</label>
              <input class="form-control" type="text"name="nom" placeholder="Saisissez ici votre Nom">
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Addresse E-mail</label>
              <input class="form-control" type="email" name="_replyto" placeholder="Saisissez ici votre E-mail">
            </div>
          </div>

        </div><!-- fin row -->

        <div class="form-group">
          <label>Message</label>
          <textarea class="form-control" name="body" rows="4" placeholder="Saisissez ici votre message..."></textarea>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <input class="form-control" type="submit" value="Envoyer">
            </div>
          </div>
        </div>
      </form>
    </div><!-- fin stylised -->
  </div><!-- fin cdrfbox-contact -->
</div><!-- fin container -->

