<div class="nav-top-offset"></div>

<!-- Container for the image gallery -->
<div class="container-img">
  <!-- Full-width images with number text -->
  <div class="mySlides">
    <div class="numbertext">1 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
  <div class="mySlides">
    <div class="numbertext">2 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
  <div class="mySlides">
    <div class="numbertext">3 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
  <div class="mySlides">
    <div class="numbertext">4 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
  <div class="mySlides">
    <div class="numbertext">5 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
   <div class="mySlides">
    <div class="numbertext">6 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
   <div class="mySlides">
    <div class="numbertext">7 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
   <div class="mySlides">
    <div class="numbertext">8 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
   <div class="mySlides">
    <div class="numbertext">9 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
   <div class="mySlides">
    <div class="numbertext">10 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
   <div class="mySlides">
    <div class="numbertext">11 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
   <div class="mySlides">
    <div class="numbertext">12 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
   <div class="mySlides">
    <div class="numbertext">13 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
   <div class="mySlides">
    <div class="numbertext">14 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
   <div class="mySlides">
    <div class="numbertext">15 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
  <div class="mySlides">
    <div class="numbertext">16 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
  <div class="mySlides">
    <div class="numbertext">17 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
  <div class="mySlides">
    <div class="numbertext">18 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
  <div class="mySlides">
    <div class="numbertext">19 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
  <div class="mySlides">
    <div class="numbertext">20 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
  <div class="mySlides">
    <div class="numbertext">21 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
  <div class="mySlides">
    <div class="numbertext">22 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
  <div class="mySlides">
    <div class="numbertext">23 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
  <div class="mySlides">
    <div class="numbertext">24 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>
  <div class="mySlides">
    <div class="numbertext">25 / 25</div>
      <img src="../images/peintures/galerie/images/#" style="width:80%">
  </div>

</div><!-- fin container -->

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <!-- Image text -->
  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <!-- Thumbnail images -->
  <div class="container-thumbs-g">

      <img class="demo cursor" src="../images/peintures/galerie/thumbs/14_juillet_small.jpg" style="height:90px" onclick="currentSlide(1)" alt="peinture1">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/adolescents_small1.jpg" style="height:90px" onclick="currentSlide(2)" alt="peinture2">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/andalouse_small.jpg" style="height:90px" onclick="currentSlide(3)" alt="peinture3">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/baigneurs_small.jpg" style="height:90px" onclick="currentSlide(4)" alt="peinture4">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/composition 003_small.jpg" style="height:90px" onclick="currentSlide(5)" alt="peinture5">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/composition a_small.jpg" style="height:90px" onclick="currentSlide(6)" alt="peinture6">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/composition_002_small.jpg" style="height:90px" onclick="currentSlide(7)" alt="peinture7">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/composition_c_small.jpg" style="height:90px" onclick="currentSlide(8)" alt="peinture8">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/composition_d_small1.jpg" style="height:90px" onclick="currentSlide(9)" alt="peinture9">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/couple_au_bouquet_small.jpg" style="height:90px" onclick="currentSlide(10)" alt="peinture10">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/couple_small.jpg" style="height:90px" onclick="currentSlide(11)" alt="peinture11">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/dockers_small.jpg" style="height:90px" onclick="currentSlide(12)" alt="peinture12">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/en_ville_small.jpg" style="height:90px" onclick="currentSlide(13)" alt="peinture13">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/femme_a_small.jpg" style="height:90px" onclick="currentSlide(14)" alt="peinture14">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/guyane_1.jpg" style="height:90px" onclick="currentSlide(15)" alt="peinture15">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/IMG_0539_small.jpg" style="height:90px" onclick="currentSlide(16)" alt="peinture16">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/interieur_small.jpg" style="height:90px" onclick="currentSlide(17)" alt="peinture17">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/jazz_in_marciac_small2.jpg" style="height:90px" onclick="currentSlide(18)" alt="peinture18">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/la_contrebasse_small.jpg" style="height:90px" onclick="currentSlide(19)" alt="peinture19">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/laffiche_small.jpg" style="height:90px" onclick="currentSlide(20)" alt="peinture20">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/le_batteur_small.jpg" style="height:90px" onclick="currentSlide(21)" alt="peinture21">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/le_squat.jpg" style="height:90px" onclick="currentSlide(22)" alt="peinture22">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/les_diables_rouges_small.jpg" style="height:90px" onclick="currentSlide(23)" alt="peinture23">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/samedi_soir_small.jpg" style="height:90px" onclick="currentSlide(24)" alt="peinture24">


      <img class="demo cursor" src="../images/peintures/galerie/thumbs/tableau_Toulouse-_la_grande_motte_001_small.jpg" style="height:90px" onclick="currentSlide(25)" alt="peinture25">


</div><!-- fin container -->



