<div class="nav-top-offset"></div>

<!-- Container for the image gallery -->
<div class="container-img">
  <!-- Full-width images with number text -->
  <div class="mySlides">
    <div class="numbertext">1 / 8</div>
      <img src="../images/peintures/galerie/images/14_juillet.jpg" style="width:100%" onload="showSlides(1)">
  </div>
  <div class="mySlides">
    <div class="numbertext">2 / 8</div>
      <img src="../images/peintures/galerie/images/baigneurs.jpg" style="width:100%">
  </div>
   <div class="mySlides">
    <div class="numbertext">3 / 8</div>
      <img src="../images/peintures/galerie/images/dockers.jpg" style="width:100%">
  </div>
   <div class="mySlides">
    <div class="numbertext">4 / 8</div>
      <img src="../images/peintures/galerie/images/en_ville.jpg" style="width:100%">
  </div>
   <div class="mySlides">
    <div class="numbertext">5 / 8</div>
      <img src="../images/peintures/galerie/images/guyane.jpg" style="width:100%">
  </div>
  <div class="mySlides">
    <div class="numbertext">6 / 8</div>
      <img src="../images/peintures/galerie/images/laffiche.jpg" style="width:100%">
  </div>
  <div class="mySlides">
    <div class="numbertext">7 / 8</div>
      <img src="../images/peintures/galerie/images/le-squat.jpg" style="width:100%">
  </div>
  <div class="mySlides">
    <div class="numbertext">8 / 8</div>
      <img src="../images/peintures/galerie/images/les_diables_rouges.jpg" style="width:100%">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div><!-- fin container-img -->




  <!-- Image text -->
  <div class="caption-container">
    <p id="caption"></p>
  </div>
  <div class="links-btn">
    <span></span> <span><a href="galerie1.html">galerie suivante<i class="fa fa-arrow-right"></i></a></span>
  </div>

<div class="container">
  <!-- Thumbnail images -->
  <div class="container-thumbs">

      <img class="demo cursor space" src="../images/peintures/galerie/thumbs/14_juillet_small.jpg" style="height:60px" onclick="currentSlide(1)" alt="14 juillet">

      <img class="demo cursor space" src="../images/peintures/galerie/thumbs/baigneurs_small.jpg" style="height:60px" onclick="currentSlide(2)" alt="Baigneurs">

      <img class="demo cursor space" src="../images/peintures/galerie/thumbs/dockers_small.jpg" style="height:60px" onclick="currentSlide(3)" alt="Dockers">

      <img class="demo cursor space" src="../images/peintures/galerie/thumbs/en_ville_small.jpg" style="height:60px" onclick="currentSlide(4)" alt="En ville">

      <img class="demo cursor space" src="../images/peintures/galerie/thumbs/guyane_1.jpg" style="height:60px" onclick="currentSlide(5)" alt="Guyane">

      <img class="demo cursor space" src="../images/peintures/galerie/thumbs/laffiche_small.jpg" style="height:60px" onclick="currentSlide(6)" alt="L'affiche">

      <img class="demo cursor space" src="../images/peintures/galerie/thumbs/le_squat.jpg" style="height:60px" onclick="currentSlide(7)" alt="Le squat">

      <img class="demo cursor space" src="../images/peintures/galerie/thumbs/les_diables_rouges_small.jpg" style="height:60px" onclick="currentSlide(8)" alt="Les diables rouges">

  </div><!-- fin container-thumbs -->
</div><!-- fin container -->


