---
title: Hoo-Paris.com
---

<div class="indexbody">
  <div class="welcome">

  <%= partial "banner" %>

  <div id="index-cible"></div>
    <div class="flexbox">
      <span class="intro-text-part" data-aos="fade-up" data-aos-duration="900">Professeur de biologie et artiste peintre, j’ai trouvé dans la peinture contemporaine et la biologie le même étonnement devant l’extraordinaire diversité des solutions qu'a le peintre pour traduire ses idées picturales et l'extraordinaire complexité des mécanismes biologiques.Souvent, l’artiste et le chercheur scientifique croient avoir enfin trouvé une vérité mais un seul coup de pinceau ou une nouvelle donnée viennent mettre à mal l’équilibre de sa peinture ou de son concept scientifique.</span>

      <img src="../images/index_img.jpg" alt="index" height="450px">

      <span class="intro-text-part" data-aos="fade-up" data-aos-duration="900">Pour le peintre, c’est une lutte constante entre les couleurs qui s’affrontent, les lignes ou les aplats qui cassent un rythme, jusqu’à ce qu’un semblant d’harmonie et de cohérence se dégage enfin de la toile. Dans cette lutte, je crois que le hasard tient une large place dans la réussite d’une oeuvre artistique ; tout le talent de l’artiste est de  le contrôler pour constamment naviguer entre chaos et ordre, entre fantaisie et rigueur, entre abstraction et figuration.</span>

      <div class="container">
        <div class="mecenat" data-aos="zoom-in" data-aos-duration="1500">
          <h3>Mécénat</h3>
          <p>Bénéficiez de déductions fiscales pour l'achat d'une oeuvre d'Art. « Constituez vous une collection d'art contemporain, embellissez vos salles d'attentes et halls et faîtes des économies sur vos impôts ! »<p> Aux termes de l'article 238bis AB du Code Général des Impôts, les entreprises qui achètent des œuvres d’artistes vivants bénéficient de dispositions fiscales avantageuses. Pour les œuvres dont le prix d'acquisition est inférieur à 5000 € hors taxes, les entreprises et professions libérales peuvent déduire le prix d'achat de l’acquisition du résultat de l'exercice  et des 4 années suivantes par fractions égales. Ce bénéfice est accordé à la condition que les œuvres soient exposées à titre gratuit dans un lieu « accessible au public, aux clients et/ou aux salariés de l’entreprise, à l’exclusion des bureaux personnels ».</p>
          <p>Constituez vous une collection d'art contemporain, embellissez vos salles d'attentes et halls et faîtes des économies sur vos impôts !</p>
        </div>
      </div>
    </div><!-- fin flexbox -->

  </div><!-- fin welcome -->
</div><!-- fin indexbody -->

