<div class="nav-top-offset"></div>
<div class="container">
  <div class="parcours">

    <div class="title">
    <h2>Hoo-Paris.com</h2>
    <p>9 de l'Allée du Moulieil à Cestas (33610).</p>
    <p>E-mail : robert.hooparis@gmail.com</p>
    <p>N° Siret : 530 723 683 000 13</p>
    <p>L'atelier de Robert Hoo-Paris se visite sur R.V au 05 57 83 50 26</p>
  </div>

  <div class="text-center">
  <img class="atelier-img" src="../images/atelier1.jpg" alt="l'atelier">
</div>

     <p class="intro-text-part" data-aos="fade-up" data-aos-duration="900">Professeur de biologie et artiste peintre, j’ai trouvé dans la peinture contemporaine et la biologie le même étonnement devant l’extraordinaire diversité des solutions qu'a le peintre pour traduire ses idées picturales et l'extraordinaire complexité des mécanismes biologiques. Souvent, l’artiste et le chercheur scientifique croient avoir enfin trouvé une vérité mais un seul coup de pinceau ou une nouvelle donnée viennent mettre à mal l’équilibre de sa peinture ou de son concept scientifique. Pour le peintre, c’est une lutte constante entre les couleurs qui s’affrontent, les lignes ou les aplats qui cassent un rythme, jusqu’à ce qu’un semblant d’harmonie et de cohérence se dégage enfin de la toile. Dans cette lutte, je crois que le hasard tient une large place dans la réussite d’une oeuvre artistique; tout le talent de l’artiste est de  le contrôler pour constamment naviguer entre chaos et ordre, entre fantaisie et rigueur, entre abstraction et figuration.</p>

    <h3>Expositions principales :</h3>
    <ul>
      <li>Société Artistique Talence Aquitaine, expositions annuelles, depuis 1989.</li>
      <li>Biennale de Cestas, depuis 1992.</li>
      <li>Les <a href="https://independants33.com" target="_blank">"Indépendants, plasticiens de Bordeaux"</a>, expositions annuelles, Bordeaux Saint Rémi , depuis 1990.</li>
      <hr>
      <li>Blanquefort, 1994, 2000, 2001, 2008</li>
      <li>Mont de Marsan, la Minoterie, exposition personnelle, 2000.</li>
      <li>Albi, salon d’automne, 2000, 2001, 2002.</li>
      <li>La grande Motte, salon d’Automne, 1999, 2000, 2001.</li>
      <li>Les Chromalies, Marché d’art contemporain, Valence, 2003.</li>
      <li>Salon européen d’arts plastiques, Bordeaux, 2003.</li>
      <li>Invité de "Septemvir" 2003.</li>
      <li>Kunstgalerie Furstenwalde Allemagne, 2004.</li>
      <li>Château La Couspaude, Saint Emilion, expo personnelle, 2004.</li>
      <li>32ème salon d'automne, Colomiers, 2004.</li>
      <li>Salon internationnal d'arts plastiques de Perpignan, 2005.</li>
      <li>Salon de peintures de la grande Motte, invité au "best-off", 2005.</li>
      <li>Galerie Hugo, La Teste, exposition personnelle, 2006.</li>
      <li>Open gaz de France, Primerose, Caudéran, exposition personnelle, 2007.</li>
      <li>Prieuré de Cayac, Gradignan,  2009. Exposition personnelle.</li>
      <li>Les peintres du val de l'Eyre, 2009. Invité d'honneur.</li>
      <li>Arts et lettres de France, invité d'honneur, Mably, Bordeaux, 2010.</li>
      <li>Marché de Lerme, Bordeaux, exposition personnelle, 7-28 juillet, 2011.</li>
      <li>Biennale d'art contemporain de Saint-Martin Lacaussade, 2010-2012.</li>
      <li>Les picturales, Audenge, 2012.</li>
      <li>L'été des arts en Gascogne, Mirande, invité d'honneur, 2012.</li>
      <li>Le couvent des minimes, Citadelle de Blaye, expositon personnelle, 2013.</li>
      <li>Saint-Ciers de Canesse, invité d'honneur, 2014.</li>
      <li>Salon de printemps, musée Marzelles, Marmande, invité d'honneur, 2014.</li>
      <li>Art actuel, Poussignac, 2016 et 2017.</li>
      <li>Carré des Jalles, Saint-Médard en Jalles, 2017 et 2018.</li>
      <li>Salon d'art contemporain, Agen, 2016, 2018 et 2019.</li>
      <li>Cussac, fort Médoc, 2019.</li>
      <li>Galerie "la réserve des arts", Casteljaloux, exposition personnelle, 2019.</li>
    </ul>

    <h3>Récompenses artistiques principales :</h3>
    <ul>
      <li>Grand prix de peinture de la ville de Talence, Médaille d’or, 1990 et 2003.</li>
      <li>1er prix de peinture de la Biennale de Cestas, 1992 et 2016.</li>
      <li>2ème prix figuratif du Lions Club Bordeaux Aquitaine 1993.</li>
      <li>3ème prix de peinture du salon des arts Aquitaine-Blanquefort 1993.</li>
      <li>2ème prix de peinture du salon des arts Aquitaine-Blanquefort 1994.</li>
      <li>Médaille d’argent de la ville de Bordeaux, 1997.</li>
      <li>2ème prix de peinture des Artistes Indépendants d’Aquitaine, 2000.</li>
      <li>1er prix du jury du salon de peinture de la Grande Motte, 2000.</li>
      <li>1er prix de peinture du salon des arts Aquitaine-Blanquefort, 2001.</li>
      <li>1er prix de peinture du salon d'automne de Colomiers, 2004.</li>
      <li>Grand prix de peinture de la ville de Talence, Médaille d'argent, 2009</li>
      <li>1er prix de peinture salon d'automne de Marmande, 2010.</li>
      <li>1er prix de peinture du salon d'art contemporain d'Agen, 2018.</li>
    </ul>

  </div><!-- fin parcours -->
</div><!-- fin container -->


