<div class="nav-top-offset"></div>
<section class="bg">

  <!--  <div class="container"><br>
      <p>Découvrez l'univers artistique de Robert Hoo-Paris, peintre plasticien au travers d'une interview ... Réalisée à l'occasion de l'exposition "Quand l’expérience de la matière rencontre l’infini... " à la Galerie Atelier 'La Réserve des Arts'. Vernissage en sa présence le Samedi 06 Avril. Exposition du 01 au 30 Avril 2019. <br>Réalisation et montage Dominique Rambeau.</p>
      <a href="https://www.youtube.com/watch?v=2-o3zdJJeFY&t=31s" target="_blank"><h5>"Un moment avec Robert Hoo-Paris"</h5></a>
    </div> -->

  <!--    <div class="container">
        <div class="mecenat" data-aos="zoom-in" data-aos-duration="1500">
          <h4>Mécénat</h4>
          <p>Bénéficiez de déductions fiscales pour l'achat d'une oeuvre d'Art. « Constituez vous une collection d'art contemporain, embellissez vos salles d'attentes et halls et faîtes des économies sur vos impôts ! »<p> Aux termes de l'article 238bis AB du Code Général des Impôts, les entreprises qui achètent des œuvres d’artistes vivants bénéficient de dispositions fiscales avantageuses. Pour les œuvres dont le prix d'acquisition est inférieur à 5000 € hors taxes, les entreprises et professions libérales peuvent déduire le prix d'achat de l’acquisition du résultat de l'exercice  et des 4 années suivantes par fractions égales. Ce bénéfice est accordé à la condition que les œuvres soient exposées à titre gratuit dans un lieu « accessible au public, aux clients et/ou aux salariés de l’entreprise, à l’exclusion des bureaux personnels ».</p>
          <p>Constituez vous une collection d'art contemporain, embellissez vos salles d'attentes et halls et faîtes des économies sur vos impôts !</p>
        </div>
      </div> -->

<div class="nav-top-offset"></div>
<div class="container">
  <div class="parcours">
     <p class="intro-text-part" data-aos="fade-up" data-aos-duration="900">Professeur de biologie et artiste peintre, j’ai trouvé dans la peinture contemporaine et la biologie le même étonnement devant l’extraordinaire diversité des solutions qu'a le peintre pour traduire ses idées picturales et l'extraordinaire complexité des mécanismes biologiques.Souvent, l’artiste et le chercheur scientifique croient avoir enfin trouvé une vérité mais un seul coup de pinceau ou une nouvelle donnée viennent mettre à mal l’équilibre de sa peinture ou de son concept scientifique. Pour le peintre, c’est une lutte constante entre les couleurs qui s’affrontent, les lignes ou les aplats qui cassent un rythme, jusqu’à ce qu’un semblant d’harmonie et de cohérence se dégage enfin de la toile. Dans cette lutte, je crois que le hasard tient une large place dans la réussite d’une oeuvre artistique ; tout le talent de l’artiste est de  le contrôler pour constamment naviguer entre chaos et ordre, entre fantaisie et rigueur, entre abstraction et figuration.</p>

    <h3>Expositions principales :</h3>
    <ul>
      <li>Société Artistique Talence Aquitaine (SATA), exposition annuelle, depuis 1989.</li>
      <li>Biennale de Cestas, depuis 1992.</li>
      <li>Groupe Quinarius, Cestas et Salle Mably de Bordeaux, expositions annuelles, depuis 1992.</li>
      <li>Les "Indépendants, plasticiens de Bordeaux", expositions annuelles, Bordeaux Saint Rémi , depuis 1990.</li>
      <li>Blanquefort, 1994, 2000, 2001, 2008</li>
      <li>Lourdes, 1998.</li>
      <li>Mont de Marsan, la Minoterie, exposition personnelle, 2000.</li>
      <li>Carcassonne, 2002</li>
      <li>Albi, salon d’automne, 2000, 2001, 2002.</li>
      <li>La grande Motte, salon d’Automne, 1999, 2000, 2001.</li>
      <li>Les Chromalies, Marché d’art contemporain, Valence, 2003.</li>
      <li>Salon européen d’arts plastiques, Bordeaux, 2003</li>
      <li>Invité de "Septemvir" 2003.</li>
      <li>Les peintres bordelais, Fontanil Cornillon, Grenoble, 25/05-15/06/2004</li>
      <li>Kunstgalerie Furstenwalde Allemagne, 15/05-15/07/2004</li>
      <li>Château La Couspaude, Saint Emilion, expo personnelle, 22/07-15/08/2004</li>
      <li>32ème salon d'automne, Colomiers, 9/10-17/10/2004</li>
      <li>Salon internationnal d'arts plastiques de Perpignan, 2005</li>
      <li>Salon de peintures de la grande Motte, invité au "best-off", 2005</li>
      <li>Galerie Hugo, La Teste, exposition personnelle, 2006</li>
      <li>Open gaz de France, Primerose, Caudéran, exposition personnelle, 2007</li>
      <li>Prieuré de Cayac, Gradignan,  2009. Exposition personnelle.</li>
      <li>Les peintres du val de l'Eyre, 2009. Invité d'honneur.</li>
      <li> Arts et lettres de France, invité d'honneur, Mably, Bordeaux, 2010</li>
      <li>Marché de Lerme, Bordeaux, exposition personnelle, 7-28 juillet, 2011</li>
    </ul>

    <h3>Récompenses artistiques principales :</h3>
    <ul>
      <li>Grand prix de peinture de la ville de Talence, Médaille d’or, 1990.</li>
      <li>1er prix de peinture de la Biennale de Cestas, 1992.</li>
      <li>2ème prix figuratif du Lions Club Bordeaux Aquitaine 1993.</li>
      <li>3ème prix de peinture du salon des arts Aquitaine-Blanquefort 1993.</li>
      <li>2ème prix de peinture du salon des arts Aquitaine-Blanquefort 1994.</li>
      <li>Médaille d’argent de la ville de Bordeaux, 1997.</li>
      <li>2ème prix de peinture des Artistes Indépendants d’Aquitaine, 2000.</li>
      <li>1er prix du jury du salon de peinture de la Grande Motte, 2000.</li>
      <li>1er prix de peinture du salon des arts Aquitaine-Blanquefort, 2001.</li>
      <li>Coupe de la Société Artistique Talence-Aquitaine, 2002.</li>
      <li>Grand prix de peinture de la ville de Talence, Médaille d’or, 2003.</li>
      <li>1er prix de peinture du salon d'automne de Colomiers, 2004.</li>
      <li>Grand prix de peinture de la ville de Talence, Médaille d'argent, 2009</li>
      <li>1er prix de peinture salon d'automne de Marmande, 2010.</li>
    </ul>

    <h3>Techniques et caractéristiques picturales :</h3>
    <ul>
      <li>Huile ou acrylique sur toile.</li>
      <li>Figuration expressionnisme.</li>
    </ul>

    <h3>Sociétés artistiques:</h3>
    <ul>
      <li>Membre fondateur du groupe Quinarius avec Danielle Caralp, Hourquet, Lequesne et Ségura.</li>
      <li>Membre de la Société artistique de Talence Aquitaine, depuis 1991.</li>
      <li>Membre des Indépendants, plasticiens de Bordeaux depuis 1990.</li>
    </ul>

    </div><!-- fin parcours -->
</div><!-- fin container -->
</section>

