<div class="nav-top-offset"></div>

<!-- Container for the image gallery -->
<div class="container-img">
  <!-- Full-width images with number text -->
  <div class="mySlides">
    <div class="numbertext">1 / 8</div>
      <img src="../images/peintures/petits/images/IMG_9431.jpg" style="width:100%" onload="showSlides(1)">
  </div>
  <div class="mySlides">
    <div class="numbertext">2 / 8</div>
      <img src="../images/peintures/petits/images/IMG_9432.jpg" style="width:100%">
  </div>
  <div class="mySlides">
    <div class="numbertext">3 / 8</div>
      <img src="../images/peintures/petits/images/IMG_9433.jpg" style="width:100%">
  </div>
  <div class="mySlides">
    <div class="numbertext">4 / 8</div>
      <img src="../images/peintures/petits/images/IMG_9434.jpg" style="width:100%">
  </div>
  <div class="mySlides">
    <div class="numbertext">5 / 8</div>
      <img src="../images/peintures/petits/images/IMG_9435.jpg" style="width:100%">
  </div>
   <div class="mySlides">
    <div class="numbertext">6 / 8</div>
      <img src="../images/peintures/petits/images/IMG_9437.jpg" style="width:100%">
  </div>
   <div class="mySlides">
    <div class="numbertext">7 / 8</div>
      <img src="../images/peintures/petits/images/IMG_9438.jpg" style="width:100%">
  </div>
   <div class="mySlides">
    <div class="numbertext">8 / 8</div>
      <img src="../images/peintures/petits/images/IMG_9439.jpg" style="width:100%">
  </div>

</div><!-- fin container-img -->

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <!-- Image text -->
  <div class="caption-container">
    <p id="caption"></p>
  </div>

<div class="container">
  <!-- Thumbnail images -->
    <div class="container-thumbs">
      <img class="demo cursor space" src="../images/peintures/petits/thumbs/IMG_9431_small.jpg" style="height: 60px" onclick="currentSlide(1)" alt="peinture1">
      <img class="demo cursor space" src="../images/peintures/petits/thumbs/IMG_9432_small.jpg" style="height: 60px" onclick="currentSlide(2)" alt="peinture2">
      <img class="demo cursor space" src="../images/peintures/petits/thumbs/IMG_9433_small.jpg" style="height: 60px" onclick="currentSlide(3)" alt="peinture3">
      <img class="demo cursor space" src="../images/peintures/petits/thumbs/IMG_9434_small.jpg" style="height: 60px" onclick="currentSlide(4)" alt="peinture4">
      <img class="demo cursor space" src="../images/peintures/petits/thumbs/IMG_9435_small.jpg" style="height: 60px" onclick="currentSlide(5)" alt="peinture5">
      <img class="demo cursor space" src="../images/peintures/petits/thumbs/IMG_9437_small.jpg" style="height: 60px" onclick="currentSlide(6)" alt="peinture6">
      <img class="demo cursor space" src="../images/peintures/petits/thumbs/IMG_9438_small.jpg" style="height: 60px" onclick="currentSlide(7)" alt="peinture7">
      <img class="demo cursor space" src="../images/peintures/petits/thumbs/IMG_9439_small.jpg" style="height: 60px" onclick="currentSlide(8)" alt="peinture8">
  </div><!-- fin container-thumbs -->
</div><!-- fin container -->


